@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+3);

a:focus,a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Open Sans",Roboto,Arial,sans-serif;
    font-weight: 400;
    color: #000000
}

body {
    font-family: "Source Sans 3",Roboto,Arial,sans-serif;
    font-weight: 400;
    color: #000000
}

blockquote,blockquote p {
    line-height: 1.6;
    color: #595959
}

code {
    font-family: 'Source Code Pro',Inconsolata,Courier,monospace;
    color: #000000;
    background-color: inherit;
    font-weight: bolder;
    border: inherit;
    padding: inherit;
}

pre.src {
    font-family: 'Source Code Pro',Inconsolata,Courier,monospace;
    background-color: #0d0e1c;
    color: #ffffff;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
}
pre.example {
    font-family: 'Source Code Pro',Inconsolata,Courier,monospace;
    background-color: #0d0e1c;
    color: #ffffff;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
}
